* {
	background-color: #f8f8f8;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fold {
	width: 40px;
	height: 40px;
	position: relative;
	transform: rotateZ(45deg); 
}

.fold-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1); 
}
      
.fold-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7367F0;
	animation: fold 2.4s infinite linear both;
	transform-origin: 100% 100%; 
}
.fold-cube:nth-child(2) { transform: scale(1.1) rotateZ(90deg); }
.fold-cube:nth-child(4) { transform: scale(1.1) rotateZ(180deg); }
.fold-cube:nth-child(3) { transform: scale(1.1) rotateZ(270deg); }
.fold-cube:nth-child(2):before { animation-delay: 0.3s; }
.fold-cube:nth-child(4):before { animation-delay: 0.6s; }
.fold-cube:nth-child(3):before { animation-delay: 0.9s; }
      
@keyframes fold {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
	} 25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1; 
	} 90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	} 
}
      

@media only screen and (max-width: 767px) {
	.fold {
		width: 60px;
		height: 60px;
	}
	@keyframes fold {
		0%, 10% {
			transform: perspective(160px) rotateX(-180deg);
			opacity: 0; 
		} 25%, 75% {
			transform: perspective(160px) rotateX(0deg);
			opacity: 1; 
		} 90%, 100% {
			transform: perspective(160px) rotateY(180deg);
			opacity: 0;
		} 
	}
}
@media only screen and (min-width: 768px) {
	.fold {
		width: 50px;
		height: 50px;
	}
	@keyframes fold {
		0%, 10% {
			transform: perspective(150px) rotateX(-180deg);
			opacity: 0; 
		} 25%, 75% {
			transform: perspective(150px) rotateX(0deg);
			opacity: 1; 
		} 90%, 100% {
			transform: perspective(150px) rotateY(180deg);
			opacity: 0;
		} 
	}
}
@media only screen and (min-width: 1224px) {
	.fold {
		width: 40px;
		height: 40px;
	}
	@keyframes fold {
		0%, 10% {
			transform: perspective(140px) rotateX(-180deg);
			opacity: 0; 
		} 25%, 75% {
			transform: perspective(140px) rotateX(0deg);
			opacity: 1; 
		} 90%, 100% {
			transform: perspective(140px) rotateY(180deg);
			opacity: 0;
		} 
	}
}